/* **** Reviews ****************************************** */
.reviews-container {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  margin-top: 30px;
}
/* Reviews list ************************************** */
.review-list-container {
  max-height: 98vh;
  width: 60vw;
  padding: 10px;
  cursor: default;
}
.reviews-list-item {
  border-bottom: 1px black solid;
  padding-bottom: 20px;
  margin-top: 15px;
}
.list-star-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}
.review-submission-info {
  font-size: 13px;
}
.review-list-username {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;

}
.review-list-date {
  font-style: italic;
}
.review-summary {
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 7px;
}
.review-body {
  padding: 0 5px;
  margin-bottom: 10px;
  font-size: 14px;

}
.review-recommend {
  padding: 5px;
  margin-bottom: 10px;
  font-size: 15px;
  font-style: italic;

}
.review-helpful {
  font-size: 14px;
}
.review-yes, .review-report {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.review-helpfulness-number {
  font-style: italic;
}
.reviews-list {
  max-height: 88vmin;
  overflow-y: scroll;
}

/* REVIEW BTNS  *********************************** */
.review-btns-container {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-top: 10px;
  display: flex;
}

.more-reviews-btn, .new-review-btn {
    color: #739086;
    font-size: 16px;
    line-height: 27px;
    padding: 8px 20px;
    font-family: Georgia, serif;
    background-color: #f9f9f9;
    box-shadow: rgba(0, 0, 0, 0.09) 2px 1px 13px 3px;
    border: 1px solid #739086;
    display: inline-block;
    cursor: pointer;
}
.more-reviews-btn:hover, .new-review-btn:hover {
  background-color: #739086;
  color: #f9f9f9;
}
.more-reviews-btn:active, .new-review-btn:active {
  background-color: #7da899;
  color: #f9f9f9;
}

.new-review-btn {
 margin-left: auto;
}

/* Dropdown Button***************************************/
.sort-by {
  cursor: default;
}
.dropbtn {
  background-color: #fff;
  color: black;
  padding: 16px 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #f5f5f5;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}


/* new REVIEW MODAL********************************* */

.review-photo-thumbnail {
  max-width: 100px;
  max-height: 100px;
  padding: 20px;
}

.review-thumbnails {
  max-height: 150px;
  overflow-x: none;

  display: flex;
}

.review-btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.review-modal, .review-overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1;
}

.review-overlay {
  background: rgba(49,49,49,0.8);
}
.review-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 33px;
  border-radius: 3px;
  max-width: 650px;
  max-height: 80%;
  min-width: auto;
  z-index: inherit;
  overflow-y: scroll;
  width: 70vw;
}

.review-close-modal {
  position: absolute;
  font-size: 20px;
  top: 6px;
  right: 6px;
  padding: 5px 7px;
  z-index: inherit;
}


/* review image modal *********************/

.review-image-modal, .review-image-overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1;
}

.review-image-overlay {
  background: rgba(49,49,49,0.8);
}
.review-image-modal-content {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 33px;
  border-radius: 3px;
  max-width: auto;
  min-width: auto;
  z-index: inherit;
}

.review-image-close-modal {
  position: absolute;
  font-size: 20px;
  top: 6px;
  right: 6px;
  padding: 5px 7px;
  z-index: inherit;
}

.review-modal-image {
  max-width: 70vw;
  max-height: 70vh;
}


/* NEW REVIEW FORMATTING ************************** */
.select-overall-rating input[type="radio"] {
  display: none;
}

.overall-star {
  cursor: pointer;
  transition: color 200ms;
}
.review-checkboxgroup {
  display: inline-block;
  text-align: center;
  padding: 5px 17px;
  margin: 5px 0px;
  width: 84px;
  overflow-wrap: break-word;
}
.review-checkboxgroup label {
  display: block;
  font-size: 14px;
  width: 92px;
}
.review-radio-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
}
.summary-input {
  width: 300px;
}
.body-input {
  height: 104px;
  width: 100%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.body-input-caption {
  text-align: right;
}
textarea {
  resize: none;
}

/* PRODUCT BREAKDOWN***************************** */

.review-pb-container {
  max-width: 35vw;
  max-height: 80vh;
  padding: 30px;
  padding-right: 40px;
}

.overall-and-star {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12px;
}
.rating-recommendation {
  margin: 10px 0;
}

.pb-overall {
  font-size: 60px;
  font-weight: bolder;
  padding-right: 20px;
}

.rating-bar-container {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.rating-bar-label {
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}
.rating-bar-padding {
  padding: 5px;
  width: 70%;
}
.rating-outer-bar  {
  height: 8px;
  width: 100%;
  background-color: #e0e0de;
  border-radius: 0px

}

.rating-filler {
  height: 100%;
  border-radius: inherit;
  text-align: right;
  position: relative;
  background-color: #739086;
}

.bar-padding {
  padding: 10px;
}
.char-outer-bar  {
  height: 10px;
  width: 100%;
  background-color: #d0d0ce;
  border-radius: 50px;

}

.char-filler {
  height: 100%;
  border-radius: inherit;
  text-align: right;
  position: relative;
}

.triangle-down {
  position: absolute;
  right: -12px;
  top: -13px;
}

.char-bars-container {
  display: flex;
  flex-direction: column;
}
.char-bd-container {
  margin: 10px;
}
.char-bar-label {
  margin-top: 7px;
  font-size: 13px;

}

.bar-descriptors {
  display: flex;
  justify-content: space-between;
}

.bar-descriptor {
  font-size: 12px;
  text-align: center;
}
