body {
  font-family: Arial, Helvetica, sans-serif;
}

.related-container {
  width: 1070px;
  margin: 0 auto;
}

.related-heading {
  text-transform: uppercase;
}

.related-carousel {
  display: flex;
  overflow: hidden;
  gap: 20px;
}

.related-product-card {
  border: 1px solid black;
  border-radius: 4px;
  min-width: 250px;
  height: 350px;
  position: relative;
}

.related-buttons {
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  position: relative;
  top: -185px;
}

.related-photo {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid black;
}

.related-sale-price {
  color: red;
}

.related-price-strike {
  text-decoration: line-through;
}

.related-category {
  text-transform: uppercase;
  font-size: 12px;
  opacity: .7;
  margin: 5px;
  letter-spacing: 0.07em;
}

.related-name {
  margin: 5px;
  font-weight: bold;
}

.related-price {
  margin: 5px;
  font-size: 12px;
}

/* STARS *************************************/
.ratings {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: #b1b1b1;
  overflow: hidden;
}
.full-stars {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #fde16d;
}
.empty-stars:before, .full-stars:before {
  content:"\2605\2605\2605\2605\2605";
  font-size: 14pt;
}
.empty-stars:before {
  -webkit-text-stroke: 1px #848484;
}
.full-stars:before {
  -webkit-text-stroke: 1px orange;
}

/* OVERVIEW *************************************/

.overview-container {
  width: 1070px;
  margin: 0 auto;
  display: flex;
}

/* .product-info-container {

} */

.overview-category {
  text-transform: uppercase;
  font-weight: 100;
}

.overview-name {
  font-size: xx-large;
}

.main-carousel {
  position: relative;
  height: 550px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  border-radius: 5px;
  margin: 0 auto;
}

.main-image {
  width: 300px;
  border-radius: 5px;
}

.left-arrow {
  position: absolute;
  left: 0;
  color: turquoise;
  cursor: pointer;
  z-index: 10;
}

.right-arrow {
  position: absolute;
  right: 0;
  color: turquoise;
  cursor: pointer;
  z-index: 10;
}

.slide {
  transition-duration: 0.5s ease;
}

.slide-active {
  transition-duration: 0.5s;
  transform: scale(1.08);
}

.image-set img {
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.styles-selector {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
}

.styles-selector .styles {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  flex: 1 0 25%;
}

.style-images {
  width: 66%;
  margin: 0 auto;
}