/* OVERVIEW *************************************/

.overview-container {
  width: 1070px;
  margin: 0 auto;
  display: flex;
}

/* .product-info-container {

} */

.overview-category {
  text-transform: uppercase;
  font-weight: 100;
}

.overview-name {
  font-size: xx-large;
}

.main-carousel {
  position: relative;
  height: 550px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  border-radius: 5px;
  margin: 0 auto;
}

.main-image {
  width: 300px;
  border-radius: 5px;
}

.arrow {
  position: absolute;
  color: turquoise;
  cursor: pointer;
  z-index: 10;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.slide {
  transition-duration: 0.5s ease;
}

.slide-active {
  transition-duration: 0.5s;
  transform: scale(1.08);
}

.image-set img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  cursor: pointer;
}

.styles-selector {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
}

.styles-selector .styles {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  flex: 1 0 25%;
}

.style-images {
  width: 66%;
  margin: 0 auto;
}